In [1]:
import os
import pandas as pd
import csv

In [2]:
#import data
q1= "Id/2020 q1.csv"
q2= "Id/2020 q2.csv"
q3= "Id/2020 q3.csv"
q4= "Id/2020 q4.csv"
q5= "Id/2021 q1.csv"
q6= "Id/2021 q2.csv"
q7= "Id/2021 q3.csv"
q8= "Id/2021 q4.csv"
q9= "Id/2022 q1.csv"
q10= "Id/2022 q2.csv"
q11= "Id/2022 q3.csv"
q12= "Id/2022 q4.csv"
q13= "Id/2023 q1.csv"
q14= "Id/2023 q2.csv"
q15= "Id/2019 q1.csv"
q16= "Id/2019 q2.csv"
q17= "Id/2019 q3.csv"
q18= "Id/2019 q4.csv"

In [3]:
#set them all as df
q1= pd.read_csv(q1)
q2= pd.read_csv(q2)
q3= pd.read_csv(q3)
q4= pd.read_csv(q4)
q5= pd.read_csv(q5)
q6= pd.read_csv(q6)
q7= pd.read_csv(q7)
q8= pd.read_csv(q8)
q9= pd.read_csv(q9)
q10= pd.read_csv(q10)
q11= pd.read_csv(q11)
q12= pd.read_csv(q12)
q13= pd.read_csv(q13)
q14= pd.read_csv(q14)
q15= pd.read_csv(q15)
q16= pd.read_csv(q16)
q17= pd.read_csv(q17)
q18= pd.read_csv(q18)

C:\Users\dkace\anaconda3\envs\pythondata\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#test 1
q1.head(10)

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,0,10,50,0,2020,1,NaN,129525,1975812,...,6243,0.3,898010082,3.7,198663577,2.0,-7200684,-6.0,28,3.0
1,1000,1,10,51,0,2020,1,NaN,1247,54521,...,1524,2.8,-6087967,-0.5,0,0.0,0,0.0,-45,-2.8
2,1000,2,10,51,0,2020,1,NaN,1374,97024,...,1238,1.3,78650081,6.3,46978,52.8,1277,36.6,48,4.8
3,1000,3,10,51,0,2020,1,NaN,3687,215698,...,1286,0.6,86640236,3.8,1194244,1.2,-47880,-5.9,25,3.0
4,1000,5,10,51,0,2020,1,NaN,123217,1608569,...,2195,0.1,738807732,3.8,197422355,2.0,-7154081,-6.0,29,3.1
5,1000,8,10,96,0,2020,1,NaN,6308,367243,...,4048,1.1,159202350,3.4,1241222,1.3,-46603,-5.8,22,2.2
6,1001,0,10,70,0,2020,1,NaN,889,11077,...,86,0.8,4973287,4.4,1440687,3.1,41283,7.5,27,3.4
7,1001,1,10,71,0,2020,1,NaN,10,81,...,2,2.4,43627,4.2,0,0.0,0,0.0,52,5.5
8,1001,2,10,71,0,2020,1,NaN,19,576,...,-6,-1.0,368156,5.8,0,0.0,0,0.0,54,6.4
9,1001,3,10,71,0,2020,1,NaN,32,1903,...,14,0.7,866695,4.7,3694,3.0,22,3.0,30,4.1

In [5]:
#test 2
q1.columns

Index(['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code',
       'year', 'qtr', 'disclosure_code', 'qtrly_estabs', 'month1_emplvl',
       'month2_emplvl', 'month3_emplvl', 'total_qtrly_wages',
       'taxable_qtrly_wages', 'qtrly_contributions', 'avg_wkly_wage',
       'lq_disclosure_code', 'lq_qtrly_estabs', 'lq_month1_emplvl',
       'lq_month2_emplvl', 'lq_month3_emplvl', 'lq_total_qtrly_wages',
       'lq_taxable_qtrly_wages', 'lq_qtrly_contributions', 'lq_avg_wkly_wage',
       'oty_disclosure_code', 'oty_qtrly_estabs_chg',
       'oty_qtrly_estabs_pct_chg', 'oty_month1_emplvl_chg',
       'oty_month1_emplvl_pct_chg', 'oty_month2_emplvl_chg',
       'oty_month2_emplvl_pct_chg', 'oty_month3_emplvl_chg',
       'oty_month3_emplvl_pct_chg', 'oty_total_qtrly_wages_chg',
       'oty_total_qtrly_wages_pct_chg', 'oty_taxable_qtrly_wages_chg',
       'oty_taxable_qtrly_wages_pct_chg', 'oty_qtrly_contributions_chg',
       'oty_qtrly_contributions_pct_chg', 'oty_avg_wkly_wage_chg',
       'oty_avg_wkly_wage_pct_chg'],
      dtype='object')

In [6]:
# make a list of df, iterate through them dropping the chaff
dataframes=[q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18]
for df in dataframes:
    df.drop(columns=['own_code', 'industry_code', 'agglvl_code', 'size_code','disclosure_code','qtrly_contributions',
                    'lq_disclosure_code','lq_qtrly_contributions','oty_disclosure_code'], inplace=True)

In [7]:
# ensure that null columns are dropped
q1.head(10)

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2020,1,129525,1975812,1986981,1983902,25058375072,10048338782,972,...,6243,0.3,898010082,3.7,198663577,2.0,-7200684,-6.0,28,3.0
1,1000,2020,1,1247,54521,54643,55021,1100867539,0,1547,...,1524,2.8,-6087967,-0.5,0,0.0,0,0.0,-45,-2.8
2,1000,2020,1,1374,97024,98574,99035,1328055880,136007,1040,...,1238,1.3,78650081,6.3,46978,52.8,1277,36.6,48,4.8
3,1000,2020,1,3687,215698,216071,216805,2375949787,96898653,845,...,1286,0.6,86640236,3.8,1194244,1.2,-47880,-5.9,25,3.0
4,1000,2020,1,123217,1608569,1617693,1613041,20253501866,9951304122,966,...,2195,0.1,738807732,3.8,197422355,2.0,-7154081,-6.0,29,3.1
5,1000,2020,1,6308,367243,369288,370861,4804873206,97034660,1001,...,4048,1.1,159202350,3.4,1241222,1.3,-46603,-5.8,22,2.2
6,1001,2020,1,889,11077,11045,11070,119286027,48505408,829,...,86,0.8,4973287,4.4,1440687,3.1,41283,7.5,27,3.4
7,1001,2020,1,10,81,84,85,1073296,0,991,...,2,2.4,43627,4.2,0,0.0,0,0.0,52,5.5
8,1001,2020,1,19,576,583,570,6692792,0,893,...,-6,-1.0,368156,5.8,0,0.0,0,0.0,54,6.4
9,1001,2020,1,32,1903,1925,1940,19222214,127672,769,...,14,0.7,866695,4.7,3694,3.0,22,3.0,30,4.1

In [8]:
#combine into one dataframe
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)
combined_df

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2020,1,129525,1975812,1986981,1983902,25058375072,10048338782,972,...,6243,0.3,898010082,3.7,198663577,2.0,-7200684,-6.0,28,3.0
1,1000,2020,1,1247,54521,54643,55021,1100867539,0,1547,...,1524,2.8,-6087967,-0.5,0,0.0,0,0.0,-45,-2.8
2,1000,2020,1,1374,97024,98574,99035,1328055880,136007,1040,...,1238,1.3,78650081,6.3,46978,52.8,1277,36.6,48,4.8
3,1000,2020,1,3687,215698,216071,216805,2375949787,96898653,845,...,1286,0.6,86640236,3.8,1194244,1.2,-47880,-5.9,25,3.0
4,1000,2020,1,123217,1608569,1617693,1613041,20253501866,9951304122,966,...,2195,0.1,738807732,3.8,197422355,2.0,-7154081,-6.0,29,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346465,US000,2019,4,302338,22206240,22316982,22223972,337255376963,6577958513,1166,...,195086,0.9,12278265351,3.8,206530176,3.2,-3949244,-13.0,32,2.8
346466,US000,2019,4,10302653,146690756,147415971,147156501,2245523372885,200504179945,1174,...,1847899,1.3,104660944632,4.9,5151388444,2.6,-166889498,-4.5,40,3.5
346467,USCMS,2019,4,7460628,114753888,115428587,115292213,1842048205085,152518631752,1230,...,1585344,1.4,84716578549,4.8,4441528841,3.0,-104228327,-3.7,40,3.4
346468,USMSA,2019,4,8391197,129578942,130349516,130164882,2052944733129,169996288204,1214,...,1862842,1.5,96488547900,4.9,5015282665,3.0,-123074775,-3.9,40,3.4
346469,USNMS,2019,4,1972621,19948732,19910805,19840421,256382373923,30507891741,991,...,13266,0.1,9434381726,3.8,136105779,0.4,-43814723,-8.1,36,3.8

In [9]:
combined_df.to_csv('2019-2023.csv', index=False)