In [5]:
import os
import pandas as pd
import csv

In [6]:
#import data
q1_path = "Id/2014 q1.csv"
q2_path = "Id/2014 q2.csv"
q3_path = "Id/2014 q3.csv"
q4_path = "Id/2014 q4.csv"
q5_path = "Id/2015 q1.csv"
q6_path =  "Id/2015 q2.csv"
q7_path = "Id/2015 q3.csv"
q8_path = "Id/2015 q4.csv"
q9_path = "Id/2016 q1.csv"
q10_path = "Id/2016 q2.csv"
q11_path = "Id/2016 q3.csv"
q12_path = "Id/2016 q4.csv"

In [7]:
#set them all as df
q1 = pd.read_csv(q1_path)
q2 = pd.read_csv(q2_path)
q3 = pd.read_csv(q3_path)
q4 = pd.read_csv(q4_path)
q5 = pd.read_csv(q5_path)
q6 = pd.read_csv(q6_path)
q7 = pd.read_csv(q7_path)
q8 = pd.read_csv(q8_path)
q9 = pd.read_csv(q9_path)
q10 = pd.read_csv(q10_path)
q11 = pd.read_csv(q11_path)
q12 = pd.read_csv(q12_path)

C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q1 = pd.read_csv(q1_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q2 = pd.read_csv(q2_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q3 = pd.read_csv(q3_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q4 = pd.read_csv(q4_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:6: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q5 = pd.read_csv(q5_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:7: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q6 = pd.read_csv(q6_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:8: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q7 = pd.read_csv(q7_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:9: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q8 = pd.read_csv(q8_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:10: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q9 = pd.read_csv(q9_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q10 = pd.read_csv(q10_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q11 = pd.read_csv(q11_path)
C:\Users\HeatB\AppData\Local\Temp\ipykernel_3956\317180439.py:13: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  q12 = pd.read_csv(q12_path)

In [8]:
#test 1
q1.head(10)

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,0,10,50,0,2014,1,NaN,116272,1827805,...,10957,0.6,450001593,2.3,86303469,1.0,-50814078,-20.9,14,1.7
1,1000,1,10,51,0,2014,1,NaN,1181,53598,...,-1713,-3.1,888122,0.1,0,0.0,0,0.0,48,3.4
2,1000,2,10,51,0,2014,1,NaN,1383,92760,...,-152,-0.2,25478002,2.4,-25614,-31.3,-1714,-77.4,21,2.4
3,1000,3,10,51,0,2014,1,NaN,3691,212309,...,-983,-0.5,40354984,2.1,5360091,6.6,-161066,-10.8,17,2.4
4,1000,5,10,51,0,2014,1,NaN,110017,1469138,...,13805,0.9,383280485,2.5,80968992,1.0,-50651298,-21.0,12,1.5
5,1000,8,10,96,0,2014,1,NaN,6255,358667,...,-2848,-0.8,66721108,1.6,5334477,6.5,-162780,-10.9,20,2.3
6,1001,0,10,70,0,2014,1,NaN,814,10309,...,327,3.2,3164755,3.7,-856923,-2.2,-261238,-25.7,-4,-0.6
7,1001,1,10,71,0,2014,1,NaN,11,85,...,9,12.0,62007,6.1,0,0.0,0,0.0,-68,-6.5
8,1001,2,10,71,0,2014,1,NaN,18,464,...,29,6.6,160630,3.8,0,0.0,0,0.0,-13,-1.8
9,1001,3,10,71,0,2014,1,NaN,32,1914,...,-13,-0.7,100249,0.6,2388,2.3,-186,-16.5,6,0.9

In [9]:
#test 2
q1.columns

Index(['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code',
       'year', 'qtr', 'disclosure_code', 'qtrly_estabs', 'month1_emplvl',
       'month2_emplvl', 'month3_emplvl', 'total_qtrly_wages',
       'taxable_qtrly_wages', 'qtrly_contributions', 'avg_wkly_wage',
       'lq_disclosure_code', 'lq_qtrly_estabs', 'lq_month1_emplvl',
       'lq_month2_emplvl', 'lq_month3_emplvl', 'lq_total_qtrly_wages',
       'lq_taxable_qtrly_wages', 'lq_qtrly_contributions', 'lq_avg_wkly_wage',
       'oty_disclosure_code', 'oty_qtrly_estabs_chg',
       'oty_qtrly_estabs_pct_chg', 'oty_month1_emplvl_chg',
       'oty_month1_emplvl_pct_chg', 'oty_month2_emplvl_chg',
       'oty_month2_emplvl_pct_chg', 'oty_month3_emplvl_chg',
       'oty_month3_emplvl_pct_chg', 'oty_total_qtrly_wages_chg',
       'oty_total_qtrly_wages_pct_chg', 'oty_taxable_qtrly_wages_chg',
       'oty_taxable_qtrly_wages_pct_chg', 'oty_qtrly_contributions_chg',
       'oty_qtrly_contributions_pct_chg', 'oty_avg_wkly_wage_chg',
       'oty_avg_wkly_wage_pct_chg'],
      dtype='object')

In [11]:
# make a list of df, iterate through them dropping the chaff
dataframes=[q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12]
for df in dataframes:
    df.drop(columns=['own_code', 'industry_code', 'agglvl_code', 'size_code','disclosure_code','qtrly_contributions',
                    'lq_disclosure_code','lq_qtrly_contributions','oty_disclosure_code'], inplace=True)

In [12]:
# ensure that null columns are dropped
q1.head(10)

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2014,1,116272,1827805,1833319,1849342,19712038920,8571763096,826,...,10957,0.6,450001593,2.3,86303469,1.0,-50814078,-20.9,14,1.7
1,1000,2014,1,1181,53598,53534,53540,1022814524,0,1469,...,-1713,-3.1,888122,0.1,0,0.0,0,0.0,48,3.4
2,1000,2014,1,1383,92760,93798,94210,1101056661,56193,905,...,-152,-0.2,25478002,2.4,-25614,-31.3,-1714,-77.4,21,2.4
3,1000,2014,1,3691,212309,212130,213546,1994254331,86763997,721,...,-983,-0.5,40354984,2.1,5360091,6.6,-161066,-10.8,17,2.4
4,1000,2014,1,110017,1469138,1473857,1488046,15593913404,8484942906,812,...,13805,0.9,383280485,2.5,80968992,1.0,-50651298,-21.0,12,1.5
5,1000,2014,1,6255,358667,359462,361296,4118125516,86820190,880,...,-2848,-0.8,66721108,1.6,5334477,6.5,-162780,-10.9,20,2.3
6,1001,2014,1,814,10309,10413,10471,88969726,37899734,658,...,327,3.2,3164755,3.7,-856923,-2.2,-261238,-25.7,-4,-0.6
7,1001,2014,1,11,85,84,84,1075338,0,981,...,9,12.0,62007,6.1,0,0.0,0,0.0,-68,-6.5
8,1001,2014,1,18,464,465,468,4364570,0,721,...,29,6.6,160630,3.8,0,0.0,0,0.0,-13,-1.8
9,1001,2014,1,32,1914,1908,1924,15929244,105573,640,...,-13,-0.7,100249,0.6,2388,2.3,-186,-16.5,6,0.9

In [13]:
#combine into one dataframe
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)
combined_df

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2014,1,116272,1827805,1833319,1849342,19712038920,8571763096,826,...,10957,0.6,450001593,2.3,86303469,1.0,-50814078,-20.9,14,1.7
1,1000,2014,1,1181,53598,53534,53540,1022814524,0,1469,...,-1713,-3.1,888122,0.1,0,0.0,0,0.0,48,3.4
2,1000,2014,1,1383,92760,93798,94210,1101056661,56193,905,...,-152,-0.2,25478002,2.4,-25614,-31.3,-1714,-77.4,21,2.4
3,1000,2014,1,3691,212309,212130,213546,1994254331,86763997,721,...,-983,-0.5,40354984,2.1,5360091,6.6,-161066,-10.8,17,2.4
4,1000,2014,1,110017,1469138,1473857,1488046,15593913404,8484942906,812,...,13805,0.9,383280485,2.5,80968992,1.0,-50651298,-21.0,12,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230951,US000,2016,4,299081,21800591,21931892,21869744,298161796143,5956595285,1049,...,181263,0.8,3016203482,1.0,26212095,0.4,-2507632,-7.7,2,0.2
230952,US000,2016,4,9768482,140643811,141128355,140963683,1937567368412,178626376137,1058,...,1778736,1.3,-4689836718,-0.2,-2486335185,-1.4,-623663238,-13.6,-17,-1.6
230953,USCMS,2016,4,7079154,109949334,110434233,110401160,1591521396574,135042222335,1110,...,1473139,1.4,-161631009,0.0,-2013762969,-1.5,-495480893,-13.9,-17,-1.5
230954,USMSA,2016,4,7932358,123934543,124485025,124409435,1770219053550,150502906479,1096,...,1728960,1.4,1084643468,0.1,-2292314567,-1.5,-541886761,-13.8,-16,-1.4
230955,USNMS,2016,4,1896483,19508923,19447070,19388660,223563290179,28123469658,884,...,92872,0.5,-2492596401,-1.1,-194020618,-0.7,-81776477,-12.2,-15,-1.7

In [14]:
combined_df.to_csv('2014-2016', index=False)